/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
	padding-top: $spacing-s;
    padding-bottom: $spacing-s;
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    background-color: $bg-dark;
    background-color: var(--bg-dark);
}

.c-footer-disclaimer {
	padding-top: 1.5em;
}

.c-footer-disclaimer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.c-footer-disclaimer-list li {
	display: inline-block;
}

.c-footer-disclaimer-list > li + li {
	padding-left: 10px;
}

.c-footer a,
.c-footer a:visited {
	color: $text-color-light;
    color: var(--text-color-light);
}

.c-footer a:hover,
.c-footer a:focus {
	color: $color-highlight;
    color: var(--color-highlight);
}